<p>
  <%= popup "Show Article", article_path(10) %>
</p>

<%= date_field_tag "name[title]","2010-01-01", :change=>true %>

<%= search_form_for(Article, "articles.created_at") %>


<%= popup "show", "#articles" %>

<div style="display:none">
  <div id="articles"> hello a </div>
</div>

<%= list_table_for @articles do |item, col|

  col.add :id
  col.add :title, link_to("hello")
end
%>

<%= paginate_links @articles %>